    @Test
    public void testSuccessfulAppManagementFlow() throws PlenigoException, JsonProcessingException {
        String actualToken = testSuccessfulUserAppToken().getToken();

        String actualAppId = testSuccessfulUserAppData(actualToken).getCustomerAppId();

        testSuccessfulCustomerApps(actualAppId);

        testSuccessfulAccessProduct(actualAppId);

        testSuccessfulDeleteCustomerApp(actualAppId);

    }

    public AppAccessToken testSuccessfulUserAppToken() throws PlenigoException, JsonProcessingException {

        ObjectMapper mapper = new ObjectMapper();
        String json = mapper.writeValueAsString(appAccessTokenRequest);

        AppAccessToken actualAppAccessToken = getBaseTarget()
                .path("token")
                .path(CUSTOMER_ID)
                .request(MediaType.APPLICATION_JSON_TYPE)
                .header("plenigoToken", generateToken())
                .post(Entity.json(json), AppAccessToken.class);


        assertEquals(expectedAppAccessToken.getCustomerId(), actualAppAccessToken.getCustomerId());
        assertEquals(expectedAppAccessToken.getDescription(), actualAppAccessToken.getDescription());

        return actualAppAccessToken;
    }
