public class Paywall{
    private boolean enabled;

    /**
     * Basic constructor for jackson conversion
     */
    public Paywall(){
    }

    /**
     * Creates a new instance of {@link Paywall}
     *
     * @param enabled Indicates if the paywall is enabled or not
     */
    public Paywall(boolean enabled) {
        this.enabled = enabled;
    }

    /**
     * @return enabled
     */
    public boolean isEnabled(){
        return enabled;
    }

    /**
     * @param enabled Indicates if the paywall is enabled or not
     */
    public void setEnabled(boolean enabled) {
        this.enabled = enabled;
    }
}
